<!DOCTYPE html>
<html lang="en">
<style>
    p {
        margin: 0;
    }
</style>
<body>
    <main>
        <div>
            <p><b>Result</b></p>
            <p><%= fileTestsResult%></p><br>
        </div>
    </main>
</body>
</html>