<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    input {
        margin: 0;
    }
</style>
<body>
<div id="slowWarning" style="display:none">
    Решение проверяется, пожалуйста, подождите...
</div>
<form id="submitForm" action="<%= actionUrl %>" enctype="multipart/form-data" method="post">
    <p>Пользователь <%= username %></p>
    <p style="display:inline">Задача</p>
    <br><select id="problemNameList" name="problemNameList" title="problemNameList">
        <option disabled>Выберите задачу</option>
        <% problemNames.map(item=> {%>
        <option> <%= item %> </option>
        <% }) %>
    </select>
    <br><input id="gitUrlInput" name="gitUrlInput" title="gitUrlInput" placeholder="Git url"/><br>
    <input type="file" name="upload"><br>
    <input type="submit" value="Отправить" onclick="clearPage()"/>
</form>
</body>
<script>
    function clearPage() {
        document.getElementById('slowWarning').style.display = 'block';
        document.getElementById('submitForm').style.display = 'none';
    }
</script>
</html>